<div class="user-wrap">
    <div class="user-image">
        <img src="../assets/img/출석체크.png" width="900">
    </div>
    <div class="user-text">
        <p><b>8</b></p>
    </div>
    <div class="user-text2">
        <p><b>회</b></p>
    </div>
    <div class="user-text3">
        <p><b>/</b></p>
    </div>
    <div class="user-text4">
        <p><b>31</b></p>
    </div>
    <div class="user-text5">
        <p><b>회</b></p>
    </div>
    <div class="user-text6">
        <p><b>X 5</b></p>
    </div>
</div>

<style>
    .user-text {
        position: absolute;
        top: 560px;
        left : 140px;
        width: 100%;
        font-size: 80px;
        /* text-align: center; */
    }
    .user-text2 {
        position: absolute;
        top: 640px;
        left : 190px;
        width: 100%;
        font-size: 40px;
        /* text-align: center; */
    }
    .user-text3 {
        position: absolute;
        top: 560px;
        left : 240px;
        width: 100%;
        font-size: 80px;
        /* text-align: center; */
    }
    .user-text4 {
        position: absolute;
        top: 560px;
        left : 290px;
        width: 100%;
        font-size: 80px;
        /* text-align: center; */
    }
    .user-text5 {
        position: absolute;
        top: 640px;
        left : 380px;
        width: 100%;
        font-size: 40px;
        /* text-align: center; */
    } 
    .user-text6 {
        position: absolute;
        top: 560px;
        left : 630px;
        width: 100%;
        font-size: 80px;
        /* text-align: center; */
    }
</style>