{% extends 'base.html' %}

{% block content %}
<style>
    table {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-top: 2px solid #ccc;
    margin: 20px 10px;
    width:100%;
    }
    table th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    font-size:17px;
    vertical-align: top;
    border-bottom: 2px solid #ccc;
    background: #efefef;
    }
    table td {
    font-size:15px;
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 2px solid #ccc;
    }
</style>




<!-- TradingView Widget BEGIN -->
<main id="main" class="main">
<div class="pagetitle"><h1>나의 Gold 확인하기</h1></div>
<section class="section">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id='mygold_reward'>
                        <h4 class="card-title" style="font-weight:bold;">보유 GOLD 현황</h4>
                            <!--총 골드 현황과 골드 이미지-->
                            <div style="text-align : center;">
                                <table>
                                    <tr>
                                      <th scope="row" style="font-size:15px;">총 보유 GOLD</th>
                                      <td style="font-weight:bold;">15.345g</td>
                                    </tr>
                                </table>
                                <img src='../assets/img/gold2.png' style=" width:100px;">
                            </div>
                            <p></p>
                            <!--금쪽골드내용-->
                            <div class="col-rg-6">
                                <p style="text-align:center; font-size:15px; font-weight:bold;">현재 금쪽 GOLD는
                                <span style="text-align:center; font-color;font-family:sans-serif; font-size:26px; color:gold;">1 . 345 g</span> 
                                입니다.</p> 
                            </div>
                            <p></p>
                            <!--버튼-->
                            <div class="col-rg-6" style="text-align:center;">
                                <span>   
                                    {% comment %} <button type="button" class="btn btn-outline-light text-dark" style="font-weight:bold; margin-right:8%; border-color:#f9eeb6; font-size:15px;">금 사기</button> {% endcomment %}
                                    <button type="button" class="btn" data-toggle="modal" data-target="#myModal"  style="margin-top:30px; background:rgb(205, 45, 55); color:white;">금 사기</button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"  style="margin-top:30px; background:rgb(1, 51, 191);">금 팔기</button>
                                    {% comment %} <button type="button" class="btn btn-outline-light text-dark" style="font-weight:bold; border-color:#f9eeb6; font-size:15px;">금 팔기</button> {% endcomment %}
                                </span>  
                            </div>      
                    </div>
                </div>
            </div>
        </div>





        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id='gold_graph'>
                        <h4 class="card-title" style="font-weight:bold;">실시간 골드 시세</h4>
                        <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container" style="height:700px;">
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget(
                                    {
                                    "autosize": true,
                                    "symbol": "OANDA:XAUUSD",
                                    "timezone": "Asia/Seoul",
                                    "theme": "light",
                                    "style": "1",
                                    "locale": "kr",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": true,
                                    "withdateranges": true,
                                    "range": "YTD",
                                    "hide_side_toolbar": false,
                                    "allow_symbol_change": true,
                                    "details": true,
                                    "hotlist": true,
                                    "calendar": true,
                                    "show_popup_button": true,
                                    "popup_width": "1000",
                                    "popup_height": "650",
                                    "container_id": "tradingview_1b7ac"
                                });
                            </script>
                        </div>
                    </div>
  <!-- TradingView Widget END -->
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<!-- TradingView Widget END -->
{% endblock content %}