{% extends 'base.html' %}

{% block content %}
<style>
  button {
    background: none;
    /* border: 3px solid #1f2023; */
    border-radius: 5px;
    color: #1f2023;
    display: block;
    /* font-size: 1.6em; */
    font-weight: bold;
    /* margin: 1em auto; */
    /* padding: 2em 6em; */
    position: relative;
    text-transform: uppercase;
  }
  
  button::before,
  button::after {
    background: #1f2023;
    content: '';
    position: absolute;
    z-index: -1;
  }
  
  button:hover {
    color: #1f2023;
  }
  .btn-2::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
  }
  
  .btn-2:hover:after {
    width: 100%;
  }

    th{
        font-size: 18px;
    }
    td{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    tr{
        font-size : 15px;
    }

  </style>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>나의 계좌 조회</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <hr style="color: #545045; height : 4px;">
              <h5 class="card-title"><b>증권계좌</b></h5>
              <!-- <p>나의 소비 패턴을 확인하고 싶다면 <a href="../charts-chartjs.html">소비 패턴 진단</a> 을 클릭하세요!</p> -->
              <hr style="color: #545045; height : 4px;">

              <!-- Table with stripped rows -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">계좌명</th>
                    <th scope="col">계좌번호</th>
                    <th scope="col">신규일</th>
                    <th scope="col">최근거래일</th>
                    <th scope="col">잔액(원)</th>
                    <th scope="col" style="text-align: center;">업무　　　</th>
                  </tr>
                </thead>
                <tbody>
                  {% if user.is_authenticated %}
                    {% for account in all_accounts %}
                      <tr  onmouseover="this.style.backgroundColor='#ffe168'" onmouseout="this.style.backgroundColor=''">
                        <td>{{account.acc_name}}</td>
                        <td>{{account.acc_num}}</td>
                        <td>{{account.created_at|date:"Y-m-d"}}</td>
                        <td>{{account.updated_at|date:"Y-m-d"}}</td>
                        <td>{{account.total}}</td>
                        <td>
                          <div style="display: inline;">
                            <a href="{% url 'accounts' account.pk %}">
                              <button class="btn-2" style=" display: inline; ">
                                조회
                              </button>
                            <a href="/transfer">
                            <button class="btn-2" style=" display: inline;">
                              이체
                            </button>
                          </div>
                        </td>
                      </tr>
                    
                </tbody>
              </table>
              <div style="float:left"><h5><b>증권계좌 총잔액</b></h5></div>
              <div style="float: right; margin-right: 100px;"><h5><b>{{account.total}}원</b></h5></div> 
              {% endfor %}
              {% endif %}
              <br>
              <br>
              <br>
              <!-- End Table with stripped rows -->
              
            </div>
          </div>
        </div>
      </div>
    </section>

</main><!-- End #main -->

  
{% endblock content %}